/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

*{
    margin: 0;
    padding: 0;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
}
header{
    width: 100%;
    height: 100px;
    background-color: #fff;
    color:#4E3A4F;
    position: relative;

    .left-logo{
        float: left;
        height: 60px;
        width: 60px;
        background:url(../../imgs/LOGO1.jpg) no-repeat left;
        
        

    }
    .mid-title{
        width: 20%;
        height: 80px;
        position: absolute;
        top: 20px;
        left: 30%;
        font-size: 40px;
        text-align: center;

    }

    .login{
        width: 60px;
        height: 30px;
        background-color: #e53c5c;
        color: #fff;
        text-align: center;
        line-height: 30px;
        border-radius: 2px;

        position: absolute;
        top: 30px;
       right: 100px;

        &:hover{
            background-color: #E31212;
            font-weight: bold;

        }

    }
    .reg{
        width: 60px;
        height: 30px;
        background-color: #e53c5c;
        color: #fff;
        text-align: center;
        line-height: 30px;
         border-radius: 2px;

        position: absolute;
        top: 30px;
        right: 30px;

         &:hover{
            background-color: #E31212;
            font-weight: bold;

        }


    }
}

nav{
    width: 100%;
    height: 40px;
    background-color: #ddd;
    position: relative;

    ul{
        display: inline-block;
        width: 80%;
        height: 30px;
        position: absolute;
        top:5px;
        left: 15%;
        li{
            display: inline-block;
            width: 10%;
            height: 30px;
            text-align: center;
            line-height: 30px;

            a{
                text-decoration: none;
                color: #4E3A4F;
            }
        }

        .move{
            position: absolute;
            border-top: 2px solid #E31212;
            left: 0;
            top: 30px;

            -webkit-transition: left 0.4s ease-in-out;
            -moz-transition: left 0.4s ease-in-out;
            transition: left 0.4s ease-in-out;

        }
    }

}

nav ul li:nth-child(1):hover~.move{
    left: 0;
}
nav ul li:nth-child(2):hover~.move{
    left: 10%;
}
nav ul li:nth-child(3):hover~.move{
    left: 20%;
}
nav ul li:nth-child(4):hover~.move{
    left: 31%;
}
nav ul li:nth-child(5):hover~.move{
    left: 42%;
}
nav ul li:nth-child(6):hover~.move{
    left: 52%;
}
nav ul li:nth-child(7):hover~.move{
    left: 62%;
}

.banner{
    width: 100%;
    height: 380px;
    background-color: #e53c5c;
    padding-top: 100px;
}

.studentinfo{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.stucommon{
    margin: 10px;
    width: 23%;
    height: 240px;
    background-color: #E31212;

}
.stu1{

}
.stu2{

}
.stu3{

}
.stu4{

}
.stu5{

}
.stu6{

}
.stu7{

}
.stu8{

}